In [24]:
import mysql.connector
from mysql.connector import Error
import pandas as pd
import matplotlib.pyplot as plt

In [25]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection


def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

def create_database(connection, query):
    cursor = connection.cursor(buffered=True)
    
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")
        


def execute_query(connection, query):
    cursor = connection.cursor(buffered=True)
    try:
        cursor.execute(query)
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")
    return cursor

In [26]:
# # connection=create_server_connection('localhost','debian-sys-maint','ga0I3qtciBp4nibQ')
connection=create_server_connection('localhost','root','')

MySQL Database connection successful

In [27]:
query="drop database Project"
execute_query(connection,query)

Query successful

In [28]:
create_database(connection,"Create Database Project")
connection=create_db_connection('localhost','root','','Project')

Database created successfully
MySQL Database connection successful

In [29]:
query="""Create Table Cart(
  Cart_id varchar(12) not null,
  primary key(Cart_id)
  )
"""
execute_query(connection,query)

Query successful

In [30]:
query = """CREATE TABLE User(
    User_id INT(11) NOT NULL,
    User_Password varchar(13) NOT NULL,
    PRIMARY KEY (User_id)   
);"""

execute_query(connection, query)

Query successful

In [31]:
query="""CREATE TABLE Customer (
    Customer_id VARCHAR(6) NOT NULL,
    c_pass VARCHAR(10) NOT NULL,
    Name VARCHAR(20) NOT NULL,
    Address VARCHAR(20) NOT NULL,
    Pincode INT(6) NOT NULL,
    Phone_number_s BIGINT(20) NOT NULL,
    PRIMARY KEY (Customer_id),
    Cart_id VARCHAR(7) NOT NULL,
    User_id INT(11) NOT NULL,
    FOREIGN KEY (Cart_id) REFERENCES Cart (Cart_id),
    FOREIGN KEY (User_id) REFERENCES User (User_id)
);"""
execute_query(connection,query)

Query successful

In [32]:
query="""CREATE TABLE Seller
    (
        Seller_id VARCHAR(6) NOT NULL,
        s_pass VARCHAR(10) NOT NULL,
        Name VARCHAR(20) NOT NULL,
        Address VARCHAR(10) NOT NULL,
        PRIMARY KEY (Seller_id)
    );"""
execute_query(connection,query)

Query successful

In [33]:
query="""CREATE TABLE Seller_Phone_num
    (
        Phone_num BIGINT(10) NOT NULL,
        Seller_id VARCHAR(6) NOT NULL,
        PRIMARY KEY (Phone_num, Seller_id),
        FOREIGN KEY (Seller_id) REFERENCES Seller(Seller_id)
        ON DELETE CASCADE
    );"""
execute_query(connection,query)

Query successful

In [34]:
query="""CREATE TABLE Payment
    (
        payment_id VARCHAR(7) NOT NULL,
        payment_date DATE NOT NULL,
        Payment_type VARCHAR(10) NOT NULL,
        Customer_id VARCHAR(6) NOT NULL,
        Cart_id VARCHAR(7) NOT NULL,
        PRIMARY KEY (payment_id),
        FOREIGN KEY (Customer_id) REFERENCES Customer(Customer_id),
        FOREIGN KEY (Cart_id) REFERENCES Cart(Cart_id),
        total_amount numeric(6)
    );"""
execute_query(connection,query)

Query successful

In [35]:
query="""CREATE TABLE Product
    (
        Product_id VARCHAR(7) NOT NULL,
        Type VARCHAR(7) NOT NULL,
        Color VARCHAR(15) NOT NULL,
        P_Size VARCHAR(2) NOT NULL,
        Gender CHAR(1) NOT NULL,
        Commission INT(2) NOT NULL,
        Cost INT(5) NOT NULL,
        Quantity INT(2) NOT NULL,
        Seller_id VARCHAR(6),
        PRIMARY KEY (Product_id),
        FOREIGN KEY (Seller_id) REFERENCES Seller(Seller_id)
        ON DELETE SET NULL
    );
"""
execute_query(connection,query)

Query successful

In [36]:
query="""CREATE TABLE Cart_item
    (
        Quantity_wished INT(1) check (Quantity_wished <> 0),
        Date_Added DATE NOT NULL,
        Cart_id VARCHAR(7) NOT NULL,
        Product_id VARCHAR(7) NOT NULL,
        purchased varchar(3) default 'NO',
        FOREIGN KEY (Cart_id) REFERENCES Cart(Cart_id),
        FOREIGN KEY (Product_id) REFERENCES Product(Product_id),
        Primary key(Cart_id,Product_id)
    );"""
execute_query(connection,query)

Query successful

In [37]:
cursor=connection.cursor()

In [38]:
query="""insert into Cart values('crt1011');"""
execute_query(connection,query)

Query successful

In [39]:
query="select * from Cart"
execute_query(connection,query)

Query successful

In [40]:
query="""
    insert into User values(1,'abc');
   """
execute_query(connection,query)

Query successful

In [41]:
query="""insert into Customer values('cid100','ABCM1235','rajat','G-453','632014',9893135876, 'crt1011','1');"""
execute_query(connection,query)
query="insert into Seller values('sid100','12345','aman','delhi cmc');"
execute_query(connection,query)

query=" insert into Product values('pid1001','jeans','red','32','M',10,10005,20,'sid100');"
execute_query(connection,query)

query=" insert into Seller_Phone_num values('9943336206','sid100');"
execute_query(connection,query)

query="insert into Cart_item values(3,'1999-10-10','crt1011','pid1001','Y');"
execute_query(connection,query)

query=" insert into Payment values('pmt1001','1999-10-10','online','cid100','crt1011',NULL);"
execute_query(connection,query)

Query successful
Query successful
Query successful
Query successful
Query successful
Query successful

In [42]:
query="select * from Payment"
cursor=execute_query(connection,query)
result=cursor.fetchall()

Query successful

In [44]:
print(result)

[('pmt1001', datetime.date(1999, 10, 10), 'online', 'cid100', 'crt1011', None)]

In [43]:
%tb

SystemExit: 1